#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.box {
	display: flex;
	position: relative;
	min-width: 500px;
	min-height: 500px;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #007acc;
	border-radius: 5px;
}

.box-header {
	position: absolute;
	top: 10px;
}
