#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
}

.todoWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.content {
	display: flex;
	min-width: 500px;
	min-height: 500px;
	border: 1px solid grey;
	justify-content: center;
	align-items: center;
}
